version: '3'
services:
  postgres:
    image: postgres:18
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=bank_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql